@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url(https://i.pinimg.com/originals/eb/bc/ed/ebbced209b13a1b433cafbf1cb44e3ce.jpg);
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    position: relative;
    margin-left: 40px;
}

/* hover animation on navbar */
a::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: .3s;
}

a:hover::before {
    width: 100%;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .togglebtn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Hero / main content */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}


h2 {
    font-size: 40px;
    color: transparent;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 5s infinite;
}

/* animation of "Software engineer student" */
@keyframes animateText {

    0%,
    95%,
    100% {
        background-position: -500px 0;
    }

    65%, 
    85% {
        background-position: 0 0;
    }
}


.action_btn {
    background-color: rgb(132, 0, 255);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* responsive */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    
    .navbar .togglebtn {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}